/*#drawerPanel, [drawer] {*/
  /*background-color: #eee;*/
/*}*/

[drawer] {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #eee;
}

[main] {
  height: 100%;
}

core-toolbar {
  background-color: #666;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

core-toolbar.medium-tall {
  height: 144px;
}

core-toolbar::shadow #bottomBar {
  height: 80px;
}

.main-label {
  font-size: xx-large;
  padding: 0 0 0.4em 1em;
  font-weight: 200;
}

/* menu */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  text-align: center;

  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
  width: 100%;
  height: 38px;
  background-color: #666;
  bottom: 0;
  left: 0;
  position: fixed;
  font-size: small;
  color: #eee;
  font-weight: 300;
  padding: 0;
}

#footerShadow {
  position: absolute;
  top: -6px;
  height: 6px;
  right: 0;
  left: 0;
  box-shadow: inset 0px -5px 6px -3px rgba(0,0,0,0.4);
}

core-menu#menu {
  /*height: 100%;*/
  color: #555;
  width: 100%;
  font-weight: 400;
  padding: 0;
}

/* menu item */
polyfill-next-selector { content: 'core-menu#menu core-item'; }
::content core-item, ::content core-submenu::shadow core-item {
  height: 56px;
  padding-left: 60px;
  font-size: 15px;
  color: #444;
  /*font-weight: normal !important;*/
}

polyfill-next-selector { content: 'core-menu#menu core-item.core-selected'; }
::content core-item.core-selected {
  background-color: #dedede;
  font-weight: 100;
}

polyfill-next-selector { content: 'core-submenu > #submenu > paper-item'; }
core-submenu > paper-item.core-selected {
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 4px, rgba(0, 0, 0, 0.26) 0px 0px 3px;
  background-color: cornflowerblue;
  color: white;
  margin: 5px 5px 5px 5px;
  border-radius: 2px;
  font-weight: 400;
  padding-left: 1.6em;
}

polyfill-next-selector { content: 'core-submenu > #submenu > paper-item'; }
core-submenu > paper-item {
  margin: 5px;
  height: 40px !important;
}

core-submenu::shadow #submenu {
  margin-left: 1em !important;
}

/*core-drawer-panel#drawer::shadow #mainContainer::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

/* card */
#card {
  display: block;
  margin: 4em 0 0 0;
  /*background-color: #fff;*/
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
  /*border-radius: 2px;*/
  overflow: hidden;
}

#card[hidden] {
  display: none;
}

#card.move-up {
  transition: -webkit-transform 0.38s cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: transform 0.38s cubic-bezier(0.4, 0.0, 0.2, 1);
}

polyfill-next-selector { content: '.sourceButton';}
::content .sourceButton {
  position: absolute;
  z-index: 1;
}

polyfill-next-selector { content: '.sourceButton:not(.fallback)';}
::content .sourceButton:not(.fallback) {
  background-color: #fcfcfc;
  color: #666464;
  bottom: -28px;
  right: 24px;
}

polyfill-next-selector { content: '.sourceButton.fallback';}
::content .sourceButton.fallback {
  right: 24px;
  top: 13px;
}

polyfill-next-selector { content: '#drawerPanel[narrow] .sourceButton:not(.fallback)';}
#drawerPanel[narrow] ::content .sourceButton:not(.fallback) {
  right: 8px;
}

polyfill-next-selector { content: '#drawerPanel:not([narrow]) .menuButton';}
#drawerPanel:not([narrow]) ::content .menuButton {
  display: none;
}

.element-label {
  height: 77px;
  line-height: 77px;
  padding-left: 24px;
  margin: 3px 3px 0em 3px;
  background-color: cornflowerblue;
  letter-spacing: 0.05em;
  font-size: 24px;
  font-weight: 200;
  color: white;
  border-radius: 2px 2px 0 0;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 4px, rgba(0, 0, 0, 0.26) 0px 0px 3px;
}

#frame {
  display: block;
  width: 100%;
  min-height: 500px;
  border: none;
}

#frameContainer {
  margin: 0 6px 0 6px;
}

/* narrow layout */
/*#drawerPanel[narrow] [main] {*/
  /*background-color: #fff;*/
/*}*/

#drawerPanel[narrow] #card {
  margin: 0;
  box-shadow: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*#drawerPanel[narrow] #frame {*/
/*  min-height: 100%;*/
  /*margin: 1em;*/
  /*width: 95%;*/
/*}*/

#drawerPanel[narrow] #frameContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0.5em;

}

/*CUSTOM STYLES*/
#paper_fab {
  top: 5.8em;
  position: absolute;
  right: -1.8em;
  z-index: 1;
}

#paper_fab_narrow {
  top: 1.8em;
  position: absolute;
  right: 1em;
  z-index: 1;
}

.gdglogoBig {
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 5px;
}

.gdglogoSmall {
  height: 26px;
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  /*padding-bottom: 3px;*/
}

core-submenu#submenu.core-selected {
  font-weight: 300;
  margin: 0 !important;
}

core-submenu::shadow core-item#submenuItem.core-selected {
  background-color: white;
  border-radius: 2px;
  padding-left: .3em;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 4px, rgba(0, 0, 0, 0.26) 0px 0px 3px;
  margin-right: 5px;
  font-weight: 400;
}

core-item::shadow core-icon#icon {
  margin: 0 8px 0 4px !important;
}

paper-fab::shadow core-icon#icon {
  vertical-align: inherit;
}

/*core-header-panel::shadow div#mainContainer*/

core-header-panel::shadow div#mainContainer::-webkit-scrollbar {
  width: 6px;
}
core-header-panel::shadow div#mainContainer::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.1);
  /*border-left: 1px solid #ccc;*/
}
core-header-panel::shadow div#mainContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 2px;
}
core-header-panel::shadow div#mainContainer::-webkit-scrollbar-thumb:hover {
  background-color: #6495ED;
  border-radius: 2px;
}

#drawerPanel[narrow] core-header-panel::shadow div#mainContainer::-webkit-scrollbar {
  width: 0px;
}
#drawerPanel[narrow] core-header-panel::shadow div#mainContainer::-webkit-scrollbar-track {
  /*background-color: rgba(0,0,0,0.1);*/
  /*border-left: 1px solid #ccc;*/
  display: none;
}
#drawerPanel[narrow] core-header-panel::shadow div#mainContainer::-webkit-scrollbar-thumb {
  /*background-color: #666;*/
  /*border-radius: 2px;*/
  display: none;
}
#drawerPanel[narrow] core-header-panel::shadow div#mainContainer::-webkit-scrollbar-thumb:hover {
  /*background-color: #6495ED;*/
  /*border-radius: 2px;*/
  display: none;
}

#frameContainer::-webkit-scrollbar {
  width: 0px;
  /*display: hidden;*/
}
#frameContainer::-webkit-scrollbar-track {
  /*background-color: rgba(0,0,0,0.1);*/
  /*border-left: 1px solid #ccc;*/
  display: none;
}
#frameContainer::-webkit-scrollbar-thumb {
  /*background-color: #666;*/
  /*border-radius: 2px;*/
  display: none;
}
#frameContainer::-webkit-scrollbar-thumb:hover {
  /*background-color: #6495ED;*/
  /*border-radius: 2px;*/
  display: none;
}