/*** uncss> filename: http://www.gdgdc.com/main-scaffold.css ***/

[drawer] {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #eee;
}

[main] {
  height: 100%;
}

core-toolbar {
  background-color: #666;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

core-toolbar::shadow #bottomBar {
  height: 80px;
}

.main-label {
  font-size: xx-large;
  padding: 0 0 0.4em 1.3em;
  font-weight: 100;
}

/* menu */

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
  width: 100%;
  height: 38px;
  background-color: #666;
  bottom: 0;
  left: 0;
  position: fixed;
  font-size: small;
  color: #eee;
  font-weight: 300;
  padding: 0;
}

#footerShadow {
  position: absolute;
  top: -6px;
  height: 6px;
  right: 0;
  left: 0;
  box-shadow: inset 0px -5px 6px -3px rgba(0,0,0,0.4);
}

core-menu#menu {
  color: #555;
  width: 100%;
  font-weight: 400;
  padding: 0;
}

/* menu item */

::content core-item,
::content core-submenu::shadow core-item {
  height: 56px;
  padding-left: 60px;
  font-size: 15px;
  color: #444;
}

::content core-item.core-selected {
  background-color: #dedede;
  font-weight: 100;
}

core-submenu > paper-item {
  margin: 5px;
  height: 40px !important;
}

core-submenu::shadow #submenu {
  margin-left: 1em !important;
}

/* card */

#card {
  display: block;
  margin: 4em 0 0 0;
  overflow: hidden;
}

::content .sourceButton {
  position: absolute;
  z-index: 1;
}

::content .sourceButton:not(.fallback) {
  background-color: #fcfcfc;
  color: #666464;
  bottom: -28px;
  right: 24px;
}

::content .sourceButton.fallback {
  right: 24px;
  top: 13px;
}

#drawerPanel[narrow] ::content .sourceButton:not(.fallback) {
  right: 8px;
}

#drawerPanel:not([narrow]) ::content .menuButton {
  display: none;
}

.element-label {
  height: 77px;
  line-height: 77px;
  padding-left: 24px;
  margin: 3px 3px 0em 3px;
  background-color: cornflowerblue;
  letter-spacing: 0.05em;
  font-size: 24px;
  font-weight: 200;
  color: white;
  border-radius: 2px 2px 0 0;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 4px, rgba(0, 0, 0, 0.26) 0px 0px 3px;
}

#frame {
  display: block;
  width: 100%;
  /*min-height: 600px;*/
  border: none;
  height: 100%;
}

#frameContainer {
  margin: 0 6px 0 6px;
}

/* narrow layout */

#drawerPanel[narrow] #card {
  margin: 0;
  box-shadow: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#drawerPanel[narrow] #frameContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
}

/*CUSTOM STYLES*/

#paper_fab {
  top: 5.8em;
  position: absolute;
  right: -1.8em;
  z-index: 1;
}

#paper_fab_narrow {
  top: 1.8em;
  position: absolute;
  right: 1em;
  z-index: 1;
}

.gdglogoBig {
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 5px;
}

core-submenu::shadow core-item#submenuItem.core-selected {
  background-color: white;
  border-radius: 2px;
  padding-left: .3em;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 4px, rgba(0, 0, 0, 0.26) 0px 0px 3px;
  margin-right: 5px;
  font-weight: 400;
}

core-item::shadow core-icon#icon {
  margin: 0 8px 0 4px !important;
}

paper-fab::shadow core-icon#icon {
  vertical-align: inherit;
}

core-header-panel::shadow div#mainContainer::-webkit-scrollbar {
  width: 6px;
}

core-header-panel::shadow div#mainContainer::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.1);
}

core-header-panel::shadow div#mainContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 2px;
}

core-header-panel::shadow div#mainContainer::-webkit-scrollbar-thumb:hover {
  background-color: #6495ED;
  border-radius: 2px;
}

#drawerPanel[narrow] core-header-panel::shadow div#mainContainer::-webkit-scrollbar {
  width: 0px;
}

#drawerPanel[narrow] core-header-panel::shadow div#mainContainer::-webkit-scrollbar-track {
  display: none;
}

#drawerPanel[narrow] core-header-panel::shadow div#mainContainer::-webkit-scrollbar-thumb {
  display: none;
}

#drawerPanel[narrow] core-header-panel::shadow div#mainContainer::-webkit-scrollbar-thumb:hover {
  display: none;
}

